<p-panel header="System Users">
    <form [formGroup]="form">
        <div class="form-row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>User Name:</mat-label>
                    <input matInput autocomplete="off" type="text" formControlName="fullName">
                </mat-form-field>
            </div>
            <div class="col-md-8 text-right">
                <button class="btn btn-primary btn-sm mr-1 mb-1" style="height: 50%;" (click)="onSearch()">
                    <i class="fa fa-search"></i> Search
                </button>
                <button class="btn btn-warning btn-sm mr-1 mb-1 " style="height: 50%;" (click)="onView()">
                    <i class="fa fa-eye"></i> View
                </button>
                <button class="btn btn-success btn-sm mr-1 mb-1 " style="height: 50%;" (click)="onEdit()">
                    <i class="fa fa-pencil"></i> Edit
                </button>
                <button class="btn btn-primary btn-sm mr-1 mb-1 " style="height: 50%;" (click)="onAdd()">
                    <i class="fa fa-plus"></i> Add
                </button>
                <button class="btn btn-danger btn-sm mr-1 mb-1 " style="height: 50%;" routerLink="/dashboard/analytics">
                    <i class="fa fa-times  "></i> Close
                </button>
            </div>
        </div>

        <div class="form-group form-row">
            <div class="col-sm-12">
                <p-table [value]="data" [paginator]="true" [rows]="50" [showCurrentPageReport]="true"
                    styleClass="p-datatable-sm mt-1 ml-2 mr-2 prime-ng-table" responsiveLayout="scroll"
                    [responsive]="true" selectionMode="single" [(selection)]="selectedData" dataKey="employeeId"
                    [loading]="loading[0]">
                    <ng-template pTemplate="header">
                        <tr style="font-size: 12px;">
                            <th>Full Name</th>
                            <th>Login ID</th>
                            <th>Mobile Phone</th>
                            <th>User Group</th>
                            <th>Status</th>
                            <th>Create Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-selectedData>
                        <tr style="font-size: 12px;" [pSelectableRow]="selectedData">
                            <td>{{selectedData.fullName}}</td>
                            <td>{{selectedData.userName}}</td>
                            <td>{{selectedData.phoneNo}}</td>
                            <td>{{selectedData.userRoleId}}</td>
                            <td>{{selectedData.status}}</td>
                            <td>{{selectedData.createDt}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12  text-center">
                <span style="color: blue;" *ngIf="loading[0]"
                    class="spinner-border spinner-border-sm mr-1 text-center"></span>
            </div>
        </div>
    </form>
</p-panel>