<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" /> <!-- Samsung fingerprint permission, only required if you include the Spass module -->
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->


    <uses-feature
        android:exported="true"
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:exported="true"
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:exported="true"
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:exported="true"
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:exported="true"
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MicropayMobile"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:exported="true" android:name=".AppSettings"/>
        <activity android:exported="true" android:name=".DeviceList" />
        <activity
            android:exported="true"
            android:name=".CustomerHomeActivity"
            android:label="@string/title_activity_customer_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".SettingsActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".Crash_Activity"
            android:label="@string/title_activity_crash_"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- BugSnag API Key -->
        <meta-data
            android:exported="true"
            android:name="com.bugsnag.android.API_KEY"
            android:value="31e03c61255e16fae68c3c0fcde41f6d" />
        <meta-data
            android:exported="true"
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:exported="true"
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4-LGYnwWkKJFSI9yA9zn-iElxzrk6iDo" />
        <meta-data
            android:exported="true"
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:exported="true"
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:exported="true"
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="true"
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".AgentHomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".SuperAgentHomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".FragmentHandler"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:exported="true"
            android:name=".AgentLocator"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Firebase Notifications -->
        <service android:name="com.micropay.notifications.IMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.micropay.notifications.InstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:exported="false"
            android:name="com.micropay.api.AppService"
            android:enabled="true" />
    </application>

</manifest>