<form [formGroup]="form">
    <div class="form-row">
        <div class="col-sm-12">
            <mat-form-field appearance="outline">
                <mat-label>Account Number</mat-label>
                <input matInput autocomplete="off" readonly formControlName="acctType">
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <mat-form-field appearance="outline">
                <mat-label>Account Number</mat-label>
                <input matInput autocomplete="off" required formControlName="acctNo">
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-8 text-left">
            <label class="required-error">{{errorMessage}}</label>
        </div>
        <div class="col-md-4 text-right">
            <button [disabled]="loading" class="btn btn-primary btn-sm mr-1 mb-1"
                style="width: 90px;" (click)="onSubmit()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <i class="fa fa-check  "></i> Save
            </button>
        </div>
    </div>
</form>