<div class="rounded" style="background-color: #f5d1ce; padding: 10px !important;">
    <div class="form-row">
        <div class="col-6">
            <div class="form-row">
                <div class="col-5">
                    <label class="lb-sm">Service Code:</label>
                </div>
                <div class="col-7" style="text-align: left;">
                    <label class="lb-sm" style="color: blue;"><span>{{selectedData.serviceCode}}</span></label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-5">
                    <label class="lb-sm">Description:</label>
                </div>
                <div class="col-7" style="text-align: left;">
                    <label class="lb-sm" style="color: blue;"><span>{{selectedData.description}}</span></label>
                </div>
            </div>
        </div>
    </div>
</div>
<br>